{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/laptop.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/masterslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/ms-laptop-style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/table.css' %}" />
<link rel="shortcut icon" href="{% static 'task/img/teamusico_rosa2.png' %}">

<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery-1.11.0.min.js' %}" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.min.js' %}" />
    <script src="http://www.performance-heating.com/assets/plugins/masterslider/slider%20templates/masterslider/jquery.easing.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
 
 
  

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   
    
<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
    
<header class="header-home">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-left">
                <i class="fa fa-home"></i> 
                {% ifequal group 'Gerente'%}
                Gerencial Report
                {% else %}
                  {{tasks_todo.0.project.name}}
                {% endifequal %}
            </div>

            <div class="navbar-header" style="padding-left: 31.5%;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;"> <img src="{% static 'task/img/teamusico_white2.png' %}" alt="" height="28px"></a>
                <a class="navbar-brand" href="#" style="    padding-top: 15px;
    padding-left: 6px;
    padding-bottom: 0px;">  <span>TeamUs</span> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <div class="navbar-right">
                <ul class="nav navbar-nav">
                       {% ifequal group 'Empleado'%}
                        <li>
                            <!-- Button trigger modal 
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>-->
                            <a class="btn btn-new" id="btn_new" data-toggle="modal" data-target="#myModal"> New </a> 
                        </li>
                        {% endifequal %}
                        <li style="padding-top: 13px;">
                            &nbsp; {{user.first_name}} {{user.last_name}}
                        </li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user icono fa-lg"></i><b class="caret" style="    color: #f8f8f8;
    border-top-color: #f8f8f8;
    padding-left: 2px;"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>


<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
   
    <div class="modal-dialog modal-lg" style="margin-left: 0px;
    left: 15%;">
        <div class="modal-content" style="border-radius: 0px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">New task</h4>
            </div>
            <div class="modal-body">

                <div class="alert alert-warning time-warning" role="alert" style="display:none">
                    <p>Estimated time: 5h 30m &nbsp;
                        <button type="button" class="btn btn-default" data-dismiss="modal" id="time_cancel">Deny</button>
                        <button type="button" class="btn btn-primary" id="time_accept">Accept</button>
                    </p>

                </div>
                <div class="form-group">
                    <label>Programming language:</label>
                    <select class="form-control" id="language">
                       {%for lenguaje in lenguajes%}
                        <option value='{{lenguaje.id}}'>{{lenguaje.name}}</option>
                       {%endfor%}
                    </select>
                </div>
                
                

                <div class="form-group">
                    <label for="exampleInputEmail1">Title:</label>
                    <input type="email" class="form-control" id="title" placeholder="Title">
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Description:</label>
                    <textarea type="email" class="form-control" id="description" placeholder="Description"></textarea>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Assign To:</label>
                            <select class="form-control" id="assign">
                                <!--<option>Everyone</option>-->
                                {%for user in users%}
                                    <option  value='{{user.id}}'>{{user.username}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <label> Priority:</label>
                            <select class="form-control" id="priority">
                                {%for priority in prioritys%}
                                    <option value='{{priority.id}}'>{{priority.name}}</option>
                                {%endfor%}
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label> Start Date: </label>
                            <div class='input-group date' >
                                <input type='text' class="form-control" id='datetimepicker1'/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label> Due Date: </label>
                            <div class='input-group date' >
                                <input type='text' class="form-control" id='datetimepicker2' />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label> Amount</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount" value="10">
                                <div class="input-group-addon">.55</div>
                            </div>
                        </div>
                    </div>
                </div>
      
                <div class="row">
                    <div class="col-md-4">
                    <p>Component:</p>
                    <div class="panel panel-default">
                            <div class="panel-heading">
<div class="form-group" style="width:120px">
     <form class="eventInsForm" action="#" method="post">
      <input type="text" class="form-control" id="tags2" placeholder="Tag">
      </form>
</div>
<!--<a href="" style="padding-left: 8px;"><i class="fa fa-plus"></i></a>-->
                            </div>
                            
                            <div class="panel-body" id="log2">
                            </div>
                        </div>
                        
                        
                    </div>
                    <div class="col-md-4">
                        <p>Action:</p>
                        <div class="panel panel-default">
                            <div class="panel-heading">
<div class="form-group" style="width:120px">
     <form class="eventInsForm" action="#" method="post">
      <input type="text" class="form-control" id="tags" placeholder="Tag">
      </form>
</div>
<!--<a href="" style="padding-left: 8px;"><i class="fa fa-plus"></i></a>-->
                            </div>
                            
                            <div class="panel-body" id="log">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <p>Framework:</p>
                                            
                                             <div class="panel panel-default">
                            <div class="panel-heading">
<div class="form-group" style="width:120px">
     <form class="eventInsForm" action="#" method="post">
      <input type="text" class="form-control" id="tags3" placeholder="Tag">
      </form>
</div>
<!--<a href="" style="padding-left: 8px;"><i class="fa fa-plus"></i></a>-->
                            </div>
                            
                            <div class="panel-body" id="log3">
                            </div>
                        </div>
                        
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="task_cancel">Cancel</button>
                <button type="button" class="btn btn-primary" id="btn_save_task">Save</button>
            </div>
        </div>
    </div>
</div>



<!--
<section class="row" >
        <div class="col-xs-3 col-sm-3 col-md-3 buscador">
           
            <section class="input-busqueda">
                <form class="" role="form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Busqueda" ng-model="query">
                        <span class="input-group-addon"><i class="fa fa-search"></i> </span>
                    </div>
                </form>
            </section>-->
<!--
            <ul class="nav nav-pills nav-stacked menu-tablas" style="">
                
                <li ng-repeat="tabla in tablas | filter:query">
                    <a ng-click="changeState({href : tabla.embedFull})"><i class="fa fa-arrow-circle-right puntero"></i>&nbsp;&nbsp;{{tabla.title}}</a>
                    home.detalles({ nombre: tabla.title, href: tabla.actions}) tabla.actions.0.href}   ui-sref="home.detalles({href : tabla})"
                </li>
            </ul>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9" style="position:fixed">
        </div>

    </section>-->



<section class="row task" style=" margin-top:0px ">
    <div class="col-xs-1 col-sm-1 col-md-1 left-menu" style="height: 720px;">
        <div class="row" style="    padding-top: 40px;">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu active">
                <a href="/home"><i class="fa fa-th-list"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/profile"><i class="fa fa-user"></i></a></div>
        </div>        
           
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/idea"><i class="fa fa-lightbulb-o"></i></a></div>
        </div>        
           
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/tips"><i class="fa fa-suitcase"></i></a></div>
        </div>
        
        {% ifequal group 'Gerente'%}
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href=""><i class="fa fa-line-chart"></i></a></div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href=""><i class="fa fa-users"></i></a></div>
        </div>  
        {%endifequal%}
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href=""><i class="fa fa-cogs"></i></a></div>
        </div>     
    </div>
    <div class="col-xs-11 col-sm-11 col-md-11" style="padding-left: 0px;">

        <div class="alert alert-info" role="alert" style="padding:5px; border-radius:0px">
           {% if user_tips.tips.name %}
            {{user_tips.tips.name}} &nbsp; <a href="{{user_tips.tips.url}}" class="btn btn-primary"  target="_blank" style="padding: 5px;"> Show</a>
            {% else %}
                Learn more about the products of TeamUsSolutions to help you boost your performance.  &nbsp; <a href="http://teamussolutions.com" class="btn btn-primary"  target="_blank" style="padding: 5px;"> Show</a>
            {% endif %}
            
            {% if user_tips.saved %}
            <i class="fa fa-star pull-right favorite" style="font-size:24px"></i>
            {% else %}
            <i class="fa fa-star-o pull-right favorite" style="font-size:24px"></i>
            {% endif%}
        </div>

            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg" style="margin-left: 0px;
    left: 15%;">
        <div class="modal-content" style="border-radius: 0px;">
           <div class="modal-body">
           <p>Pleasantness level with the work done:</p>
           <div class="row">
           <div class="col-md-12 score">
           <p> 
             <div class="opinion" data="1">
              <a ><i class="fa fa-star-o opinion-icon" data="1"></i></a>
            </div>
             <div class="opinion" data="2">
              <a ><i class="fa fa-star-o opinion-icon" data="2"></i></a>
            </div>
              <div class="opinion" data="3">
              <a><i class="fa fa-star-o opinion-icon" data="3"></i></a>
            </div>
              <div class="opinion" data="4">
              <a><i class="fa fa-star-o opinion-icon" data="4"></i></a>
            </div>
              <div class="opinion" data="5">
              <a><i class="fa fa-star-o opinion-icon" data="5"></i></a>
            </div>
               
           </p>
           </div>
           </div>
           <hr>
           <div class="row">
           <div class="col-md-12">
           <p>Real time: 6h 30 min </p>
           <p>Estimated time: 5h 15 min</p>
            <div class="form-group">
                <label for="exampleInputEmail1">Comments:</label>
                <textarea type="email" class="form-control" id="exampleInputEmail1" placeholder="Comments"></textarea>
            </div>    
               </div>
            </div>
            <input type="text" name="" value=""  style="display:none" id="task_modal">
            
            
            
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="task_cancel">Cancel</button>
            <button type="button" class="btn btn-primary" id="btn_save_eval">Close task</button>
        </div>
    </div>
</div>
</div>

<!--
  <div class="row">
  
  <div class="col-md-4 connectedSortable" id="sortable1" >
  <div class="ui-state-default">Item 1</div>
  <div class="ui-state-default">Item 2</div>
  <div class="ui-state-default">Item 3</div>
  <div class="ui-state-default">Item 4</div>
  <div class="ui-state-default">Item 5</div>
</div>
 
   <div class="col-md-4 connectedSortable" id="sortable2">
  <div class="ui-state-highlight">Item 1</div>
  <div class="ui-state-highlight">Item 2</div>
  <div class="ui-state-highlight">Item 3</div>
  <div class="ui-state-highlight">Item 4</div>
  <div class="ui-state-highlight">Item 5</div>
</div>   
 
 <div class="col-md-4 connectedSortable" id="sortable2">
  <div class="ui-state-highlight">Item 1</div>
  <div class="ui-state-highlight">Item 2</div>
  <div class="ui-state-highlight">Item 3</div>
  <div class="ui-state-highlight">Item 4</div>
  <div class="ui-state-highlight">Item 5</div>
</div>
 
 </div> -->            

            <div class="row content-box-task" style="">
                <div class="col-xs-4 col-sm-4 col-md-4 box-task " >
                    <h3>TO DO</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 connectedSortable" id="sortable1">
                           
                           {% for task in tasks_todo%}
                            <div class="personal-task" id='{{task.id}}'>
                                <div class="row" style="padding-top: 20px;">
                                    <div class="col-xs-2 col-sm-2 col-md-2" style="padding-left:30px">
                                        <span style="    background: #ea003f;
    padding: 4px;
    border-radius: 50%; color:#f8f8f8">{{task.user.first_name.0}}{{task.user.last_name.0}}</span>
                                    </div>
                                    
                                    <div class="col-xs-7 col-sm-7 col-md-7">
                                        <p>{{task.name}}</p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: right;">
                                        <i class="fa fa-pause alert-warning btn-action-task" type="pause"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                    </div>
                                   <div class="col-xs-9 col-sm-9 col-md-9 description">
                                    <p>{{task.description|slice:":60"  }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-2 col-sm-2 col-md-2">
                                    </div>
                                   <div class="col-xs-10 col-sm-10 col-md-10">
                                   <p style="color:#ea003f; font-size:12px">
                                    {% for i in task.framework.all %}
                                            #{{i.name}}
                                    {% endfor %}                                    
                                    
                                    {% for i in task.firstComponent.all %}
                                            #{{i.name}}
                                    {% endfor %}                                    
                                           
                                    {% for i in task.secondComponent.all %}
                                            #{{i.name}}
                                    {% endfor %}
                                    </p>
                                    </div>
                                </div>
                                
                                <div class="row footer-task" style="text-align:right">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <i class="fa fa-pencil "></i> &nbsp;
                                        <i class="fa fa-trash "></i></div>
                                </div>
                            </div>
                            {% endfor %}
                                                                    
                           
                            
                        </div>
                    </div>


                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 box-task">
                    <h3>IN PROCESS</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 connectedSortable" id="sortable2">
                           {% for task in tasks_process%}
                           
                            <div class="personal-task " id='{{task.id}}'>
                                <div class="row" style="padding-top: 20px;">
                                    <div class="col-xs-2 col-sm-2 col-md-2" style="padding-left:30px">
                                        <span style="    background: #ea003f;
    padding: 4px;
    border-radius: 50%; color:#f8f8f8">{{task.user.first_name.0}}{{task.user.last_name.0}}</span>
                                    </div>
                                    
                                    <div class="col-xs-7 col-sm-7 col-md-7">
                                        <p>{{task.name}}</p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: right;">
                                        <i class="fa fa-play alert-warning btn-action-task" type="pause"></i> &nbsp;
                                        <i class="fa fa-stop alert-warning btn-action-task-stop" type="stop" data-toggle="modal" data-target="#myModal2"></i>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                    </div>
                                   <div class="col-xs-9 col-sm-9 col-md-9 description">
                                    <p>{{task.description|slice:":60"  }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-2 col-sm-2 col-md-2">
                                    </div>
                                   <div class="col-xs-10 col-sm-10 col-md-10">
                                   <p style="color:#ea003f; font-size:12px">
                                    {% for i in task.framework.all %}
                                            #{{i.name}}
                                    {% endfor %}                                    
                                    
                                    {% for i in task.firstComponent.all %}
                                            #{{i.name}}
                                    {% endfor %}                                    
                                           
                                    {% for i in task.secondComponent.all %}
                                            #{{i.name}}
                                    {% endfor %}
                                    </p>
                                    </div>
                                </div>
                                <div class="row footer-task" style="text-align:right">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <i class="fa fa-pencil"></i> &nbsp;
                                        <i class="fa fa-trash"></i></div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 box-task">
                    <h3>COMPLETED</h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 connectedSortable" id="sortable3">
                        
                           {% for task in tasks_end%}
                            <div class="personal-task" id='{{task.id}}'>
                              <div class="row" style="padding-top: 20px;">
                                    <div class="col-xs-2 col-sm-2 col-md-2" style="padding-left:30px">
                                        <span style="    background: #ea003f;
    padding: 4px;
    border-radius: 50%; color:#f8f8f8">{{task.user.first_name.0}}{{task.user.last_name.0}}</span>
                                    </div>
                                    
                                    <div class="col-xs-7 col-sm-7 col-md-7">
                                        <p>{{task.name}}</p>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-md-3" style="text-align: right;">
                                        <i class="fa fa-check alert-warning btn-action-task" type="ready"></i>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-2 col-sm-2 col-md-2">
                                    </div>
                                   <div class="col-xs-9 col-sm-9 col-md-9 description">
                                    <p>{{task.description|slice:":60"  }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                  <div class="col-xs-2 col-sm-2 col-md-2">
                                    </div>
                                   <div class="col-xs-10 col-sm-10 col-md-10">
                                   <p style="color:#ea003f; font-size:12px">
                                    {% for i in task.framework.all %}
                                            #{{i.name}}
                                    {% endfor %}                                    
                                    
                                    {% for i in task.firstComponent.all %}
                                            #{{i.name}}
                                    {% endfor %}                                    
                                           
                                    {% for i in task.secondComponent.all %}
                                            #{{i.name}}
                                    {% endfor %}
                                    </p>
                                    </div>
                                </div>
                                <div class="row footer-task" style="text-align:right">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <i class="fa fa-pencil"></i> &nbsp;
                                        <i class="fa fa-trash"></i></div>
                                </div> 
                            </div>
                            {% endfor%}
                        </div>
                    </div>
                </div>
    </div>

</section>
 
  

  <script>
  $(function() {
    $( "#sortable1, #sortable2, #sortable3").sortable({
      connectWith: ".connectedSortable",
        change: function(event, ui) {
            var id = $(this).attr('id');
            var start_pos = ui.item.index();
            var index = ui.placeholder.index();
        },
        beforeStop: function(event, ui) {
          var id = $(this).attr('id');
          var start_pos = ui.item.index();
          ui.item.data('name', id);
            console.log('--->'+ $(this).attr('id'));
        },
        receive: function(event, ui) {
            var receive = $(this).attr('id')
            var start_pos = ui.item.index();
            var before = ui.item.data('name')
            console.log(before)
            console.log(receive)
            console.log(start_pos)
            if (before == 'sortable1' && receive== 'sortable2'){
                 var task_id = $('#sortable2 .personal-task:eq('+ start_pos +')').attr('id')
                
                $.ajax({
                    url: "/addStatus/",
                    data: { task_id:task_id, status_id: 2, csrfmiddlewaretoken:'{{csrf_token}}'},
                    dataType: "json",
                    cache: false,
                    success: function(data) {
                         $('#sortable2 .btn-action-task:eq('+ start_pos +')').removeClass( "fa-pause" ).addClass( "fa-play" );
                        
                        $('#sortable2 .btn-action-task:eq('+ start_pos +')').after('&nbsp; <i class="fa fa-stop alert-warning btn-action-task-stop" type="stop" data-toggle="modal" data-target="#myModal2"></i>')
                        return false;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                    },
                    crossDomain: false,
                    type: "POST",
                })

               
                
            }else if (before == 'sortable1' && receive== 'sortable3'){
                
                 var task_id = $('#sortable3 .personal-task:eq('+ start_pos +')').attr('id')
                
                $.ajax({
                    url: "/addStatus/",
                    data: { task_id:task_id, status_id: 3, csrfmiddlewaretoken:'{{csrf_token}}'},
                    dataType: "json",
                    cache: false,
                    success: function(data) {
                          $('#sortable3 .btn-action-task:eq('+ start_pos +')').removeClass( "fa-pause" ).addClass( "fa-check" );
                        return false;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                    },
                    crossDomain: false,
                    type: "POST",
                })
 
            }else if (before == 'sortable2' && receive== 'sortable1'){
                
                 var task_id = $('#sortable1 .personal-task:eq('+ start_pos +')').attr('id')
                
                $.ajax({
                    url: "/addStatus/",
                    data: { task_id:task_id, status_id: 1, csrfmiddlewaretoken:'{{csrf_token}}'},
                    dataType: "json",
                    cache: false,
                    success: function(data) {
                          $('#sortable1 .btn-action-task:eq('+ start_pos +')').removeClass( "fa-play" ).addClass( "fa-pause" );
                            //$('#sortable1 .btn-action-task-stop:eq('+ start_pos +')').remove();
                            $('#sortable1 .btn-action-task-stop').remove();
                        return false;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                    },
                    crossDomain: false,
                    type: "POST",
                })
                
                

            }else if (before == 'sortable2' && receive== 'sortable3'){
                
                var task_id = $('#sortable3 .personal-task:eq('+ start_pos +')').attr('id')
                $.ajax({
                    url: "/addStatus/",
                    data: { task_id:task_id, status_id: 3, csrfmiddlewaretoken:'{{csrf_token}}'},
                    dataType: "json",
                    cache: false,
                    success: function(data) {
                        $('#sortable3 .btn-action-task:eq('+ start_pos +')').removeClass( "fa-play" ).addClass( "fa-check" );
                        $('#sortable3 .btn-action-task:eq('+ start_pos +')').removeClass( "fa-pause" ).addClass( "fa-check" );
                        //$('#sortable3 .btn-action-task-stop:eq('+ start_pos +')').remove();
                        $('#sortable3 .btn-action-task-stop').remove();
                        $('#task_modal').val(task_id)
                        $('#myModal2').modal('show'); 
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                    },
                    crossDomain: false,
                    type: "POST",
                })


                
            }else if (before == 'sortable3' && receive== 'sortable1'){
                var task_id = $('#sortable1 .personal-task:eq('+ start_pos +')').attr('id')
                
                $.ajax({
                    url: "/addStatus/",
                    data: { task_id:task_id, status_id: 1, csrfmiddlewaretoken:'{{csrf_token}}'},
                    dataType: "json",
                    cache: false,
                    success: function(data) {
                         $('#sortable1 .btn-action-task:eq('+ start_pos +')').removeClass( "fa-check" ).addClass( "fa-pause" );
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                    },
                    crossDomain: false,
                    type: "POST",
                })
                
                
                
                
            }else if (before == 'sortable3' && receive== 'sortable2'){
                var task_id = $('#sortable2 .personal-task:eq('+ start_pos +')').attr('id')
                
                $.ajax({
                    url: "/addStatus/",
                    data: { task_id:task_id, status_id: 2, csrfmiddlewaretoken:'{{csrf_token}}'},
                    dataType: "json",
                    cache: false,
                    success: function(data) {
                          $('#sortable2 .btn-action-task:eq('+ start_pos +')').removeClass( "fa-check" ).addClass( "fa-play" );
                        $('#sortable2 .btn-action-task:eq('+ start_pos +')').after('&nbsp; <i class="fa fa-stop alert-warning btn-action-task-stop" type="stop" data-toggle="modal" data-target="#myModal2"></i>')
                        location.reload(); //para que funcione los botones de stop cuando regresas de finalizar
                        return false;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                    },
                    crossDomain: false,
                    type: "POST",
                })
                
                
            }
            
            
        },
    }).disableSelection();
  });
  </script>
<script>
    $(function () {
        
        
        $('#datetimepicker1').datepicker();
        $('#datetimepicker2').datepicker();
        
          var availableTags = [];
            {%for i in second_componets%}
                availableTags.push('{{i.name}}');
             {%endfor%}
        
            function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
            $( "#tags" ).autocomplete({
              source: availableTags,
                select: function( event, ui ) {
            log( ui.item ?
          "" + ui.item.value :
          "" + this.value );
          }
            });
        
        $( "#tags" ).autocomplete( "option", "appendTo", ".eventInsForm" );
              
              
        
        
            var availableTags2 = [];
            {%for i in first_componets%}
                availableTags2.push('{{i.name}}');
             {%endfor%}
            function log2( message ) {
                  $( "<div>" ).text( message ).prependTo( "#log2" );
                  $( "#log2" ).scrollTop( 0 );
                }
            $( "#tags2" ).autocomplete({
              source: availableTags2,
                select: function( event, ui ) {
            log2( ui.item ?
          "" + ui.item.value :
          "" + this.value );
          }
            });
        
        $( "#tags2" ).autocomplete( "option", "appendTo", ".eventInsForm" );
        
        
        
                  var availableTags3 = [];
                {%for i in frameworks%}
                availableTags3.push('{{i.name}}');
             {%endfor%}
            function log3( message ) {
      $( "<div>" ).text( message ).prependTo( "#log3" );
      $( "#log3" ).scrollTop( 0 );
    }
            $( "#tags3" ).autocomplete({
              source: availableTags3,
                select: function( event, ui ) {
            log3( ui.item ?
          "" + ui.item.value :
          "" + this.value );
          }
            });
        
        $( "#tags3" ).autocomplete( "option", "appendTo", ".eventInsForm" );
        
        
       $("#btn_save_task").click(function () {
            $('.time-warning').css({
                'display': ''
            })
        });  
                     
        $(".favorite").click(function () {
                $.ajax({
                    url: "/addFavorite/",
                    data: { user_tips_id:'{{user_tips.id}}', favorite:1, csrfmiddlewaretoken:'{{csrf_token}}'},
                    dataType: "json",
                    cache: false,
                    success: function(data) {
                         $('.favorite').removeClass('fa-star-o').addClass('fa-star')
                        return false;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                    },
                    crossDomain: false,
                    type: "POST",
                })
                            
            
        });  
              
        
              
        $("#btn_save_eval").click(function () {
            
            var task_id = $('#task_modal').val()
            var html = $('#'+ task_id +'').html();
            
            
            
            console.log($('#'+ task_id +'').html())
            
            var score = $(".score .fa-star").length
            
                $.ajax({
                    url: "/addStatus/",
                    data: { task_id:task_id, status_id: 3, score: score, csrfmiddlewaretoken:'{{csrf_token}}'},
                    dataType: "json",
                    cache: false,
                    success: function(data) {
                        $('#myModal2').modal('hide');
                        $('#'+ task_id +'').remove()
                        
                        $( "#sortable3 .personal-task" ).first().before('<div class="personal-task ui-sortable-handle" id="' + task_id + '">' + html + '</div>')
                        
                        $('#sortable3 .btn-action-task:eq(0)').removeClass( "fa-play" ).addClass( "fa-check" )
                        $('#sortable3 .btn-action-task-stop').remove();
                        
                        return false;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                    },
                    crossDomain: false,
                    type: "POST",
                })
                           
            console.log($('#task_modal').val())
             
        });
              
        $(".btn-action-task-stop").click(function () {
            console.log('stop')
            
            var task_id = $(this).closest( ".personal-task" ).attr('id')
            $('#task_modal').val(task_id) 
            
        });
           
              
        
       $("#time_cancel, #task_cancel").click(function () {
           $('#myModal').modal('hide');
       });  
              
              

              

              
        $("#time_accept").click(function () {
            var divs = $( "div" );
            
            var language = $( "#language option:selected" ).val();
            var title = $( "#title" ).val();
            var description = $( "#description" ).val();
            var datetimepicker1 = $( "#datetimepicker1" ).val();
            var datetimepicker2 = $( "#datetimepicker2" ).val();
            var assign = $( "#assign option:selected" ).val();
            var priority = $( "#priority option:selected" ).val();

            var array_component = []
            var array_action = []
            var array_framework = []
            
            $( "#log2" ).find(divs).each(function(i)
            {
               array_component.push($(this).text())
            });            
            
            $( "#log" ).find(divs).each(function(i)
            {
               array_action.push($(this).text())
            });            
            
            $( "#log3" ).find(divs).each(function(i)
            {
               array_framework.push($(this).text())
            });
 
            $.ajax({
                url: "/addTask/",
                data: { language:language, title:title, description:description, datetimepicker1:datetimepicker1, datetimepicker2:datetimepicker2, assign:assign, priority:priority, 'component[]':array_component, 'action[]':array_action, 'framework[]':array_framework, csrfmiddlewaretoken:'{{csrf_token}}'},
                dataType: "json",
                cache: false,
                success: function(data) {
                    if (data['status']){
                        $( ".close" ).trigger( "click" );
                        location.reload();
                    }
                    return false;
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                },
                crossDomain: false,
                type: "POST",
            })
        /*
		.done(function(){paginar(directorio);},function(){ $('#loader').remove();});
        */    
        });
              
              
        //$("#btn_new").click(function () {
        //    console.log('holaaaa')
        //    $('#myModal').dialog('open')
        //});
        

    });
</script>



<!------FOOTER------->
	<!-- footer starts here -->
	<footer class="footer text-center" style="background: #FCFCFC; border-top: 1px solid #D1D1D1;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="icons">
						<a href=""><i class="fa fa-instagram"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-twitter"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-facebook"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-linkedin"></i></a>
					</div>
					<p>TeamusSolutions &copy; 2016. ALL RIGHTS RESERVED.</p>
				</div>
			</div>
		</div>
	</footer>
<!--------END FOOTER---->

<div class="row comment">
<a id="example1" rel="popover" data-original-title="Suggestion" data-placement="top"><i class="fa fa-comments"></i> </a>

<!--
<a data-container="body" data-toggle="popover" data-placement="top">
  <i class="fa fa-comments"></i> 
</a>-->
</div>


<div id="popover_content_wrapper" style="display: none">

   <form action="/addAporte/" method="post" id="addaporte"> {% csrf_token %}
    <input type="text" class="form-control" name="user_id" id="user_id" value="{{user.id}}" style="display:none">
    
    <div class="row" style="padding-bottom:20px">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <select class="form-control" id="sector" name="sector">
                <option value="">----Select type-----</option>
                <option value="Managerial">Managerial</option>
                <option value="Organizational">Organizational</option>
                <option value="Complaints">Complaints</option>
            </select>
        </div>
    </div>

    <div class="row" style="padding-bottom:20px">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <textarea name="aporte" id="aporte" cols="25" rows="10" placeholder="Suggestion"></textarea>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 ">
           <div class="checkbox">
            <input checked type="checkbox" name="anonimo" id="anonimo" value="" > Anonymous
            </div>
        </div>
    </div>
    
    
    
    <div class="row" style="padding-top:20px; text-align:right">
       <div class="col-xs-12 col-sm-12 col-md-12">
        <button type="submit" class="btn btn-primary" id="btn_aporte" style="padding:5px">Send</button>
        </div>
    </div>
    
    </form>

</div>
<!--
<div class="row comment">
    <div class="pop-center ">
        <span class="qs"> <i class="fa fa-comments"></i> 
  <div class="popover above">
  <p>Enviar aporte</p>
    <div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2">
  <select name="type" id="">
      <option value="">----Select type-----</option>
      <option value="">Gerencial</option>
      <option value="">Organizacional</option>
      <option value="">Reclamo</option>
  </select>
      </div>
      </div>
      
  <div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2">
  <textarea name="aporte" id="" cols="30" rows="10" placeholder="aporte"></textarea>
  </div>
      </div>

  
  <div class="row">
  <div class="col-xs-2 col-sm-2 col-md-2">
  <input type="checkbox" name="vehicle" value="Bike" style=""> <b style="color:#ccc; position:absolute">Anónimo </b>
      </div>
  </div>
  
  </div>
  
  </span>
    </div>
</div>

-->



<!--
    <div class="row comment" >
        <i class="fa fa-comments"></i>
    </div>-->
    
    <script>
    $(function () {
        
       // $('[data-toggle="popover"]').popover()
        $('.popover-test').popover();
        
            $('[rel=popover]').popover({ 
                html : true, 
                content: function() {
                  return $('#popover_content_wrapper').html();
                }
            });

        $(".opinion").hover(function () {
            var data = $(this).attr('data');
            var i = 1;
            var actual = data;
            console.log(data)
            while (actual <= 5){
                console.log('Otro------', $(".opinion-icon[data='" + actual+ "']"))
                $(".opinion-icon[data='" + actual+ "']").removeClass('fa-star').addClass('fa-star-o')
                //$(".opinion[data='" + actual+ "']").removeClass('opinion-active')
                actual++
            }
            while (i <= data){
                 $(".opinion-icon[data='" + i+ "']").removeClass('fa-star-o').addClass('fa-star')
                 //$(".opinion[data='" + i+ "']").addClass('opinion-active')
                 i++
            }
        })
        

        

    });
</script>
     



</body>

</html>