{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/laptop.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/masterslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/ms-laptop-style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/table.css' %}" />
<link rel="shortcut icon" href="{% static 'task/img/teamusico_rosa2.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery-1.11.0.min.js' %}" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
<link rel="stylesheet" type="text/css" href="{% static 'task/js/app.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.min.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.masterslider.min.js' %}" />
    <script src="http://www.performance-heating.com/assets/plugins/masterslider/slider%20templates/masterslider/jquery.easing.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="http://www.performance-heating.com/assets/plugins/masterslider/slider%20templates/masterslider/masterslider.min.js"></script>



<header>
    <nav class="navbar navbar-default scroll-header navbar-fixed-top">
        <!--<div class="container-fluid" ng-controller="headerCtrl">-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color:#f8f8f8">Team<span style="color:#cc0037">Us</span> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-click="gotoAnchor(0)">Home</a></li>
                    <li><a href="" ng-click="gotoAnchor(1)">Features</a></li>
                    <li><a href="" ng-click="gotoAnchor(2)">Pricing</a></li>
                    <li><a href="" ng-click="gotoAnchor(3)">Contact</a></li>
                    <!--<li><a href="#view2" class="btn-action">Login</a></li>-->
                    <li><a href="/login" class="btn-action">Login</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>


<div ui-view class="slide-reveal">





    <section class="banner" style="padding-bottom:30px;">
        <div class="content" id="anchor0" style="height: 650px; padding-top:20px">
            <div class="row banner-box" style="padding-left: 120px;">
                <div class="col-md-7">
                    <div class="ms-laptop-template">
                        <div class="ms-laptop-cont">
                            <img src="{% static 'task/img/flat-laptop.png' %}" class="ms-laptop-bg" />
                            <div class="ms-lt-slider-cont">
                                <div class="master-slider ms-skin-default" id="masterslider">

                                    <div class="ms-slide">
                                        <iframe class='laptop-content' src="https://www.youtube.com/embed/LZ34LlaIk88?list=PLgaJxqojmJGcbjMUCNz1RZc8bBqUnmQ3N" frameborder="0" allowfullscreen></iframe>

                                        <a href="http://player.vimeo.com/video/53914149" data-type="video"> vimeo video </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4" style="top:20px;  padding-bottom: 20px;">
                    <div>
                        <div>
                            <h2>Team<span style="color:#cc0037">Us</span> </h2>
                            <h3 style="background: rgba(3, 12, 27, 0.5); padding:10px">
            Software proposes gerential solutions to aid managing human resources by giving time stimations, financial advices, schedules and by giving an environment proper to expose and control ideas from all of the company team members.
               </h3>
                        </div>
                        <div style="padding-top:10px">
                            <a href="/login" class="btn-action-invert btn pull-right"> Login </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="features">
        <div class="content" id="anchor1">
            <div class="container">
                <h2>Features </h2>
                <!-- template -->
                <div class="col-md-3">
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-8" style="padding:0px">
                            <h3 style="text-align:right">Reports</h3>
                            <p class=text-right>
                                <!--Reportes de manejo monetario del capital humano, motivacion, productividad, sugerencias y consejos gerenciales.-->
                                Monetary management reports on human capital, motivation, productivity and managerial suggestions and advices.
                            </p>
                        </div>
                        <div class="col-md-4">
                            <h3>
                        <span class="glyphicon  glyphicon-star img-circle features-circle" aria-hidden="true"></span>
                        </h3>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-md-8" style="padding:0px">
                            <h3 style="text-align:right">Dashboard</h3>
                            <p class=text-right>
                                <!--Lista de tareas del proyecto, tips profesionales, envio de sugerencias y/o reclamos.-->
                                Project tasks list, professional tips, suggestions and / or complaints sending.
                            </p>
                        </div>
                        <div class="col-md-4"><span class="glyphicon  glyphicon-star img-circle features-circle" aria-hidden="true"></span></div>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="ms-laptop-template">
                        <div class="ms-laptop-cont">
                            <img src="{% static 'task/img/flat-laptop.png' %}" class="ms-laptop-bg" />
                            <div class="ms-lt-slider-cont">
                                <div class="master-slider ms-skin-default" id="masterslider_2">

                                    <div class="ms-slide">
                                        <img src="{% static 'task/img/t1.png' %}" alt="">

                                    </div>

                                    <div class="ms-slide">
                                        <img src="{% static 'task/img/TU2.png' %}" alt="">
                                    </div>                        
                                       
                                    <div class="ms-slide">
                                        <img src="{% static 'task/img/TU11.png' %}" alt="">
                                    </div>                                    
                                       
                                    <div class="ms-slide">
                                        <img src="{% static 'task/img/t5.png' %}" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-md-3" style="margin-left: -50px;">-->
                <div class="col-md-3">
                    <div class="row" style="padding-top:10px">
                        <div class="col-md-4">
                            <h3>
                        <span class="glyphicon  glyphicon-star img-circle features-circle" aria-hidden="true"></span>
                        </h3>
                        </div>

                        <div class="col-md-8" style="padding:0px">
                            <h3>Estimate</h3>
                            <p class=text-left>
                               <!-- Estimado de tiempo de trabajo de una tarea asociado a conocimientos personal y empresa en particual. -->
                                Task execution time stimation associated to the staff and company knowledge.
                            </p>
                        </div>



                    </div>
                    <div class="row" style="">
                        <div class="col-md-4">
                            <span class="glyphicon  glyphicon-star img-circle features-circle" aria-hidden="true"></span>
                        </div>

                        <div class="col-md-8" style="padding:0px">
                            <h3>Suggestion and Tips</h3>
                            <p class=text-left>
                                <!--Organizador de sugerencias por parte del personal y de tips relacionados a las necesidades de cada empleado. -->
                                Staff suggestions organizer and tips related to the needs of each employee.
                            </p>
                        </div>


                    </div>
                </div>
                <!-- end of template -->
            </div>
        </div>
    </section>


    <section class="pricing">
        <div class="content" id="anchor2">
            <div class="container">
                <h2> Pricing  </h2>
                <div class="pricing-table row">

                    <!-- PRICING PACKAGE 1 -->
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 fadeInUp animated done-animation" data-animation="fadeInUp">
                        <div class="pricing-package">
                            <div class="pricing-package-header">
                                <h4 class="price-title">Demo</h4>
                                <div class="price">
                                    <span class="price-currency">$</span>
                                    <span class="price-number">0</span>
                                    <span class="price-decimal"></span>
                                </div>
                                <div class="price-description">FREE for 30 days</div>
                            </div>
                            <ul class="pricing-package-items">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>

                    <!-- PRICING PACKAGE 2 -->
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 fadeInUp animated done-animation" data-animation="fadeInUp">
                        <div class="pricing-package pricing-package-featured">
                            <div class="pricing-package-header">
                                <h4 class="price-title">Golden</h4>
                                <div class="price">
                                    <span class="price-currency">$</span>
                                    <span class="price-number">9</span>
                                    <span class="price-decimal">99</span>
                                </div>
                                <div class="price-description">$11.99 Billed monthly</div>
                                <div class="price-featured">Most Popular</div>
                            </div>
                            <ul class="pricing-package-items">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                
                            </ul>
                        </div>
                    </div>

                    <!-- PRICING PACKAGE 3 -->
                    <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0 fadeInUp animated done-animation" data-animation="fadeInUp">
                        <div class="pricing-package">
                            <div class="pricing-package-header">
                                <h4 class="price-title">Platinum</h4>
                                <div class="price">
                                    <span class="price-currency">$</span>
                                    <span class="price-number">16</span>
                                    <span class="price-decimal">99</span>
                                </div>
                                <div class="price-description"></div>
                                <div class="price-description">$19.99 Billed monthly</div>
                            </div>
                            <ul class="pricing-package-items">
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--
    <div class="content">
        <h1> Logeate </h1></div>-->

    <section class="contact">
        <div class="content" id="anchor3">
            <div class="container ">
                <h2>Contact</h2>
                <div class="row form-content">
                    <div class="col-lg-12">
                        <!--Subscribe Form -->
                        <form id="middle-form" method="post" action="middle-form.php">
                            <div class="middle-optin">
                                <div class="row">
                                    <div class="form-group col-lg-4">
                                        <input name="middle-optin-name" id="middle-optin-name" type="text" class="form-control" required="" placeholder="Your Name">
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <input name="middle-optin-email" id="middle-optin-email" type="text" class="form-control" required="" placeholder="Your E-mail">
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <input name="middle-optin-phone" id="middle-optin-phone" type="text" class="form-control" placeholder="Your Phone Phone">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12">
                                        <textarea rows="4" cols="50" placeholder="Message"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-12" style="text-align: center; padding-top: 50px;">
                                        <a type="submit" class="btn btn-action">Subscribe Now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-process-middle"></div>
                                </div>
                            </div>
                        </form>
                        <!--End Subscribe Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript">
        var slider = new MasterSlider();
        slider.setup('masterslider', {
            width: 692,
            height: 439,
            speed: 20,
            preload: 0,
            space: 2,
            view: 'mask'
        });
        slider.control('arrows');
        slider.control('bullets', {
            autohide: false
        });

        var slider_2 = new MasterSlider();
        slider_2.setup('masterslider_2', {
            width: 692,
            height: 439,
            speed: 20,
            preload: 0,
            space: 2,
            view: 'mask'
        });
        slider_2.control('arrows');
        slider_2.control('bullets', {
            autohide: false
        });
    </script>





</div>


<section id="footer" class="footer-section section">
    <div class="content">
        <div class="container">

            <h3 class="footer-logo">
						Team<span style="color:#cc0037">Us</span>
					</h3>

            <div class="footer-socmed">
                <a href="#" target="_blank"><span class="fa fa-facebook"></span></a>
                <a href="#" target="_blank"><span class="fa fa-twitter"></span></a>
                <a href="#" target="_blank"><span class="fa fa-instagram"></span></a>
                <a href="#" target="_blank"><span class="fa fa-pinterest"></span></a>
            </div>

            <div class="footer-copyright">
                TeamusSolutions &copy; 2016. ALL RIGHTS RESERVED.
            </div>

        </div>
    </div>
</section>




<script>
    $(function () {
        var shrinkHeader = 300;
        $(window).scroll(function () {
            var scroll = getCurrentScroll();
            if (scroll >= shrinkHeader) {
                $('.scroll-header').addClass('shrink');
            } else {
                $('.scroll-header').removeClass('shrink');
            }
        });

        function getCurrentScroll() {
            return window.pageYOffset || document.documentElement.scrollTop;
        }
    });
</script>

<script type="text/javascript">
    var slider = new MasterSlider();
    slider.setup('masterslider', {
        width: 692,
        height: 439,
        speed: 20,
        preload: 0,
        space: 2,
        view: 'mask'
    });
    slider.control('arrows');
    slider.control('bullets', {
        autohide: false
    });

    var slider_2 = new MasterSlider();
    slider_2.setup('masterslider_2', {
        width: 692,
        height: 439,
        speed: 20,
        preload: 0,
        space: 2,
        view: 'mask'
    });
    slider_2.control('arrows');
    slider_2.control('bullets', {
        autohide: false
    });
</script>




    <script>
        $(function () {
            var shrinkHeader = 300;
            $(window).scroll(function () {
                var scroll = getCurrentScroll();
                if (scroll >= shrinkHeader) {
                    $('.scroll-header').addClass('shrink');
                } else {
                    $('.scroll-header').removeClass('shrink');
                }
            });

            function getCurrentScroll() {
                return window.pageYOffset || document.documentElement.scrollTop;
            }
        });
    </script>