{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/laptop.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/masterslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/ms-laptop-style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/table.css' %}" />
<link rel="shortcut icon" href="{% static 'task/img/teamusico_rosa2.png' %}">
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery-1.11.0.min.js' %}" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
<link rel="stylesheet" type="text/css" href="{% static 'task/js/app.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.min.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.masterslider.min.js' %}" />
    <script src="http://www.performance-heating.com/assets/plugins/masterslider/slider%20templates/masterslider/jquery.easing.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="http://www.performance-heating.com/assets/plugins/masterslider/slider%20templates/masterslider/masterslider.min.js"></script>
    


<header>
    <nav class="navbar navbar-default scroll-header navbar-fixed-top">
        <!--<div class="container-fluid" ng-controller="headerCtrl">-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color:#f8f8f8">Team<span style="color:#cc0037">Us</span> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" ng-click="gotoAnchor(0)">Home</a></li>
                    <li><a href="" ng-click="gotoAnchor(1)">Features</a></li>
                    <li><a href="" ng-click="gotoAnchor(2)">Pricing</a></li>
                    <li><a href="" ng-click="gotoAnchor(3)">Contact</a></li>
                    <!--<li><a href="#view2" class="btn-action">Login</a></li>-->
                    <li><a href="/login" class="btn-action">Login</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>



<section class="contact">
    <div class="content" id="anchor3" style="padding-top: 180px;">
        <div class="container ">
            <h2>Login</h2>
            <div class="row form-content">
                <div class="col-lg-12">
                    <!--Subscribe Form -->
                    <form id="middle-form" method="post" action=""> {% csrf_token %}
                        <div class="middle-optin">
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="form-group col-lg-6">
                                    <input name="user" id="user" type="text" class="form-control" required="" placeholder="Username">
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="form-group col-lg-6">
                                    <input name="password" type="password" id="password" class="form-control" required="" placeholder="Password">
                                </div>
                                <div class="col-lg-3"></div>
                            </div>
                            {%if error %}
                                <div class="row">
                                   <div class="col-lg-3"></div>
                                    <div class="col-lg-6">
                                        <label for="" style="color:#d9534f; text-align:center">{{error}}</label>
                                    </div>
                                    <div class="col-lg-3"></div>
                                </div>
                            {%endif%}
                            
                            <div class="row">
                                <div class="form-group col-lg-12" style="text-align: center; padding-top: 50px;">
                                   <input type="submit" class="btn btn-action" value="Login">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-process-middle"></div>
                            </div>
                        </div>
                    </form>
                    <!--End Subscribe Form -->
                </div>
            </div>
        </div>
    </div>
</section>