{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/laptop.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/masterslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/ms-laptop-style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/table.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery-1.11.0.min.js' %}" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="shortcut icon" href="{% static 'task/img/teamusico_rosa2.png' %}">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.min.js' %}" />
<script src="http://www.performance-heating.com/assets/plugins/masterslider/slider%20templates/masterslider/jquery.easing.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>




<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<header class="header-home">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-left">
                <i class="fa fa-home"></i> 
                {% ifequal group 'Gerente'%}
                Gerencial Report
                {% else %}
                  {{tasks_todo.0.project.name}}
                {% endifequal %}
            </div>

            <div class="navbar-header" style="padding-left: 31.5%;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;"> <img src="{% static 'task/img/teamusico_white2.png' %}" alt="" height="28px"></a>
                <a class="navbar-brand" href="#" style="    padding-top: 15px;
    padding-left: 6px;
    padding-bottom: 0px;">  <span>TeamUs</span> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <div class="navbar-right">
                <ul class="nav navbar-nav">
                       {% ifequal group 'Empleado'%}
                        <li>
                            <!-- Button trigger modal 
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>-->
                            <a class="btn btn-new" id="btn_new" data-toggle="modal" data-target="#myModal"> New </a> 
                        </li>
                        {% endifequal %}
                        <li style="padding-top: 13px;">
                            &nbsp; {{user.first_name}} {{user.last_name}}
                        </li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user icono fa-lg"></i><b class="caret" style="    color: #f8f8f8;
    border-top-color: #f8f8f8;
    padding-left: 2px;"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>


                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>


<section class="row task" style=" margin-top:0px ">
    <div class="col-xs-1 col-sm-1 col-md-1 left-menu">
        <div class="row" style="    padding-top: 40px;">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu ">
                <a href="/home"><i class="fa fa-th-list"></i></a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu active"><a href="/profile"><i class="fa fa-user"></i></a></div>
        </div>        
           
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/idea"><i class="fa fa-lightbulb-o"></i></a></div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/tips"><i class="fa fa-suitcase"></i></a></div>
        </div>
        
        {% ifequal group 'Gerente'%}
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href=""><i class="fa fa-line-chart"></i></a></div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href=""><i class="fa fa-users"></i></a></div>
        </div>  
        {%endifequal%} 
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href=""><i class="fa fa-cogs"></i></a></div>
        </div>        
                 
           

    </div>
    <div class="col-xs-11 col-sm-11 col-md-11" style="padding-left: 0px;">

        <div class="row">
            <div class="col-md-11" style="padding-left:80px">

                <h2>User Settings <img src="{% static 'task/img/linkedin.png' %}" alt=""></h2>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Fist Name:</label>
                            <input type="text" class="form-control" id="name" placeholder="Fist Name" value="{{user.first_name}}">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last Name" value="{{user.last_name}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="text" class="form-control" id="email" placeholder="Email" value="{{user.email}}" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label> Salary</label>
                            <div class="input-group">
                                <div class="input-group-addon">$</div>
                                <input type="text" class="form-control" id="amount" placeholder="Amount" value="{{profile.sueldo.amount}}">
                                <div class="input-group-addon">.00</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Department:</label>
                            <select class="form-control">

                                <option>Informatic</option>

                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Position:</label>
                            <select class="form-control" id="position">
                                {% for cargo in cargos%}
                                
                                <option value='{{cargo.id}}' {% ifequal profile.cargo.id cargo.id %} selected {%endifequal%}> {{cargo.name}} </option>
                                
                                {%endfor%}

                              <!--  <option>Data base administration</option>
                                <option>Data base analist</option>
                                <option>Desing UX</option>

                                <option>Infrastructure Manager</option>
                                <option>Junior Back-end web/mobile</option>
                                <option>Junior Font-end web/mobile</option>
                                <option>Junior Full-stack web/mobile</option>

                                <option>Project Manager</option>
                                <option>Senior Back-end web/mobile</option>
                                <option>Senior Font-end web/mobile</option>
                                <option>Senior Full-stack web/mobile</option>

                                <option>Semi Senior Back-end web/mobile</option>
                                <option>Semi Senior Font-end web/mobile</option>
                                <option>Semi Senior Full-stack web/mobile</option>

                                <option>Sofware Arquitect</option>
                                <option>Support</option> -->


                            </select>
                        </div>
                    </div>
                </div>

               <div class="row">
                <div class="col-md-6">
                        <div class="form-group">
                            <label>Time:</label>
                            <select class="form-control" id="time">
                                {% for time in times%}
                                
                                <option value='{{time.id}}' {% ifequal profile.time.id time.id %} selected {%endifequal%}> {{time.name}} </option>
                                
                                {%endfor%}


                            </select>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                    </div>
                    
               </div>
                <hr>

                <div class="row" style="margin-bottom:20px">
                   
                    <div class="col-md-1">
                        <label for="" class="control-label">Skills:</label>
                    </div>
                    
                    <div class="col-md-7 ">
                        <input type="text" class="form-control" id="tags" placeholder="skills">
                    </div>
                    
                </div>


                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title form-inline">Regular</h3>
                            </div>

                            
                            <div class="panel-body connectedSortableProfile"  id="sortable1">
                            {% for i in regular %}
                               {% if i.lenguaje %}
                                    <div>{{i.lenguaje.name}}</div>
                               {% else %}
                                   <div>{{i.framework.name}}</div>
                               {% endif %}
                            {%endfor%}
                            
                            </div>
                           
                            <!--<div class="panel-body">
                                <p>#Php</p>
                            </div>-->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title form-inline">Good</h3>
                            </div>
                            <div class="panel-body connectedSortableProfile" id="sortable2">
                                {% for i in bueno %}
                                   {% if i.lenguaje %}
                                        <div>{{i.lenguaje.name}}</div>
                                   {% else %}
                                       <div>{{i.framework.name}}</div>
                                   {% endif %}
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title form-inline">Very Good</h3>
                            </div>
                            <div class="panel-body connectedSortableProfile" id="sortable3">
                                {% for i in muybueno %}
                                   {% if i.lenguaje %}
                                        <div>{{i.lenguaje.name}}</div>
                                   {% else %}
                                       <div>{{i.framework.name}}</div>
                                   {% endif %}
                                {%endfor%}
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-default ">
                            <div class="panel-heading">
                                <h3 class="panel-title form-inline">Excelent</h3>
                            </div>
                            <div class="panel-body connectedSortableProfile" id="sortable4">
                                {% for i in excelente %}
                                   {% if i.lenguaje %}
                                        <div>{{i.lenguaje.name}}</div>
                                   {% else %}
                                       <div>{{i.framework.name}}</div>
                                   {% endif %}
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row" style="text-align:right">
                    <button type="button" class="btn btn-primary" id="btn_save_profile">Save</button>
                </div>

            </div>
            
            
        </div>


    </div>

</section>





  <script>
  $(function() {
      
       $("#btn_save_profile").click(function () {
           
           var position = $( "#position option:selected" ).val();
           var time = $( "#time option:selected" ).val();
           var divs = $( "div" );
           
            var name = $( "#name" ).val();
            var lastname = $( "#lastname" ).val();
            var email = $( "#email" ).val();
            var amount = $( "#amount" ).val();
           

            var sortable1 = []
            var sortable2 = []
            var sortable3 = []
            var sortable4 = []
            
            $( "#sortable1" ).find(divs).each(function(i)
            {
               sortable1.push($(this).text())
            });            
            
            $( "#sortable2" ).find(divs).each(function(i)
            {
               sortable2.push($(this).text())
            });            
            
            $( "#sortable3" ).find(divs).each(function(i)
            {
               sortable3.push($(this).text())
            });            
           
           $( "#sortable4" ).find(divs).each(function(i)
            {
               sortable4.push($(this).text())
            });
           
           
            $.ajax({
                url: "/addProfile/",
                data: { user:{{user.pk}}, position:position, name:name, lastname:lastname, email:email, amount:amount, time:time, 'regular[]':sortable1, 'bueno[]':sortable2, 'muybueno[]':sortable3, 'excelente[]':sortable4, csrfmiddlewaretoken:'{{csrf_token}}'},
                dataType: "json",
                cache: false,
                success: function(data) {
                    if (data['status'] == 'OK'){
                        
                        window.location.href = '/home/';
                    }
                    return false;
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                },
                crossDomain: false,
                type: "POST",
            })
                       
           
           console.log(position)
           console.log(name)
           console.log(time)
           console.log(lastname)
           console.log(email)
           console.log(amount)
           console.log(sortable1)
           console.log(sortable2)
           console.log(sortable3)
           console.log(sortable4)
           
        });  
      
      
      
      var availableTags = [];
            {%for i in lenguajes%}
                availableTags.push('{{i.name}}');
             {%endfor%}            
             
             {%for i in frameworks%}
                availableTags.push('{{i.name}}');
             {%endfor%}
             
               function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#sortable1" );
      $( "#sortable1" ).scrollTop( 0 );
    }
            $( "#tags" ).autocomplete({
              source: availableTags,
                select: function( event, ui ) {
            log( ui.item ?
          "" + ui.item.value :
          "" + this.value );
          }
            });
        
        $( "#tags" ).autocomplete( "option", "appendTo", ".eventInsForm" );
              
      
    $( "#sortable1, #sortable2, #sortable3 , #sortable4").sortable({
      connectWith: ".connectedSortableProfile",
        change: function(event, ui) {

        },
        beforeStop: function(event, ui) {

        },
        receive: function(event, ui) {
            
            
        },
    }).disableSelection();
  });
  </script>
<script>