{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/laptop.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/masterslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/ms-laptop-style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/table.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery-1.11.0.min.js' %}" />
<link rel="shortcut icon" href="{% static 'task/img/teamusico_rosa2.png' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.min.js' %}" />
    <script src="http://www.performance-heating.com/assets/plugins/masterslider/slider%20templates/masterslider/jquery.easing.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
 
 
  

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   
    
<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   
   <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
   
<script src="https://code.highcharts.com/modules/data.js"></script>
    
    
<header class="header-home">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-left">
                <i class="fa fa-home"></i> Gerencial Report
            </div>

           <div class="navbar-header" style="padding-left: 31.5%;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;"> <img src="{% static 'task/img/teamusico_white2.png' %}" alt="" height="28px"></a>
                <a class="navbar-brand" href="#" style="    padding-top: 15px;
    padding-left: 6px;
    padding-bottom: 0px;">  <span>TeamUs</span> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li style="padding-top: 13px;">
                            {{user.first_name}} {{user.last_name}}
                        </li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user icono fa-lg"></i><b class="caret" style="    color: #f8f8f8;
    border-top-color: #f8f8f8;
    padding-left: 2px;"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>


                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>






<section class="row" style=" margin-top:0px ">
    <div class="col-xs-1 col-sm-1 col-md-1 left-menu" style="height: 1000;">
           
           
        <div class="row" style="    padding-top: 40px;">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/idea"><i class="fa fa-lightbulb-o"></i></a></div>
        </div>        
           
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/tips"><i class="fa fa-suitcase"></i></a></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu active"><a href="/reports/"><i class="fa fa-line-chart"></i></a></div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/users/"><i class="fa fa-users"></i></a></div>
        </div>  
        
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href=""><i class="fa fa-cogs"></i></a></div>
        </div>     
    </div>
    <div class="col-xs-11 col-sm-11 col-md-11" style="padding-left: 0px;">

        <div class="alert alert-info" role="alert" style="padding:5px; border-radius:0px">
           {% if user_tips.tips.name %}
            {{user_tips.tips.name}} &nbsp; <a href="{{user_tips.tips.url}}" class="btn btn-primary"  target="_blank" style="padding: 5px;"> Show</a>
            {% else %}
                Learn more about the products of TeamUsSolutions to help you boost your performance.  &nbsp;  <a href="http://teamussolutions.com" class="btn btn-primary"  target="_blank" style="padding: 5px;"> Show</a>
            {% endif %}
            
            {% if user_tips.saved %}
            <i class="fa fa-star pull-right favorite" style="font-size:24px"></i>
            {% else %}
            <i class="fa fa-star-o pull-right favorite" style="font-size:24px"></i>
            {% endif%}
        </div>

    
            <div class="row" style="">
                   <div class="col-md-6">
                      <div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                   </div>
                   <div class="col-md-6">
                       <div id="container3" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
     
                   </div>  
            </div>
                

            <div class="row" style="">
                   <div class="col-md-6">
                       <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                   </div>
                   <div class="col-md-6">
                       <div style="width: 600px; height: 400px; margin: 0 auto; margin-top:100px">
                            <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
                            <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>
                        </div>
                   </div>  
            </div>            
                  
                  


</section>
 
  

  

<!------FOOTER------->
	<!-- footer starts here -->
	<footer class="footer text-center" style="background: #FCFCFC; border-top: 1px solid #D1D1D1;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="icons">
						<a href=""><i class="fa fa-instagram"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-twitter"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-facebook"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-linkedin"></i></a>
					</div>
					<p>TeamusSolutions &copy; 2016. ALL RIGHTS RESERVED.</p>
				</div>
			</div>
		</div>
	</footer>
<!--------END FOOTER---->

<div class="row comment">
<a id="example1" rel="popover" data-original-title="Sugerencia" data-placement="top"><i class="fa fa-comments"></i> </a>

<!--
<a data-container="body" data-toggle="popover" data-placement="top">
  <i class="fa fa-comments"></i> 
</a>#428bca-->
</div>


<script>
    $(function () {
    $('#container').highcharts({
        chart: {
            type: 'areaspline'
        },
        title: {
            text: 'Performance Index'
        },
        subtitle: {
            text: ''
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 70,
            y: 50,
            floating: true,
            borderWidth: 1,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            tickmarkPlacement: 'on',
            title: {
                enabled: false
            }
        },
        yAxis: {
            title: {
                text: '%'
            },
            labels: {
                formatter: function () {
                    return this.value;
                }
            }
        },
        tooltip: {
            shared: true,
            valueSuffix: ' %'
        },
        plotOptions: {
            area: {
                stacking: 'normal',
                lineColor: '#666666',
                lineWidth: 1,
                marker: {
                    lineWidth: 1,
                    lineColor: '#666666'
                }
            }
        },
        series: [{
            name: 'Efficiency',
            color: '#ea003f',
            data: [20, 50, 30, 60, 80, 20, 50 , 20, 60, 10, 70, 30]
        }, {
            name: 'Effectiveness',
            color: '#428bca',
            data: [50, 20, 40, 70, 40, 30, 10, 30, 70, 40, 30, 60]
        }, {
            name: 'Efficacy',
            color: '#193146',
            data: [30, 10, 30, 60, 50, 20, 30, 30, 60, 20, 40, 30]
        }]
    });
});

</script>     


<script>
    $(function () {

    var gaugeOptions = {

        chart: {
            type: 'solidgauge'
        },

        title: null,

        pane: {
            center: ['50%', '85%'],
            size: '140%',
            startAngle: -90,
            endAngle: 90,
            background: {
                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                innerRadius: '60%',
                outerRadius: '100%',
                shape: 'arc'
            }
        },

        tooltip: {
            enabled: false
        },

        // the value axis
        yAxis: {
            stops: [
                [0.1, '#ea003f'], // red
                [0.5, '#DDDF0D'], // yellow
                [0.9, '#6edd00'] // green
            ],
            lineWidth: 0,
            minorTickInterval: null,
            tickPixelInterval: 400,
            tickWidth: 0,
            title: {
                y: -70
            },
            labels: {
                y: 16
            }
        },

        plotOptions: {
            solidgauge: {
                dataLabels: {
                    y: 5,
                    borderWidth: 0,
                    useHTML: true
                }
            }
        }
    };

    // The speed gauge
    $('#container-speed').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 1,
            title: {
                text: 'Productivity level'
            }
        },

        credits: {
            enabled: false
        },

        series: [{
            name: 'Speed',
            data: [0.2],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                       '<span style="font-size:12px;color:silver">%</span></div>'
            },
            tooltip: {
                valueSuffix: '%'
            }
        }]

    }));

    // The RPM gauge
    $('#container-rpm').highcharts(Highcharts.merge(gaugeOptions, {
        yAxis: {
            min: 0,
            max: 1,
            title: {
                text: 'Motivation level'
            }
        },

        series: [{
            name: 'RPM',
            data: [0.3],
            dataLabels: {
                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y:.1f}</span><br/>' +
                       '<span style="font-size:12px;color:silver">%</span></div>'
            },
            tooltip: {
                valueSuffix: ' %'
            }
        }]

    }));

    // Bring life to the dials
    setTimeout(function () {
        // Speed
        var chart = $('#container-speed').highcharts(),
            point,
            newVal,
            inc;

        if (chart) {
            point = chart.series[0].points[0];
            inc = 0.45;
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }

        // RPM
        chart = $('#container-rpm').highcharts();
        if (chart) {
            point = chart.series[0].points[0];
            inc = 0.4;
            newVal = point.y + inc;

            if (newVal < 0 || newVal > 5) {
                newVal = point.y - inc;
            }

            point.update(newVal);
        }
    }, 2000);


});
    
</script>

<script>
    
    $(function () {
    $('#container2').highcharts({
        title: {
            text: 'work $ vs worked $',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Millions'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'M$'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'work $',
            color:'#ea003f',
            data: [20, 22, 19, 30, 18, 21, 20, 22, 18, 19, 22, 20]
        }, {
            name: 'worked $',
            color:'#193146',
            data: [10, 32, 17, 27 , 20, 25, 16, 20, 15, 16, 30, 10]
        }]
    });
});
    
</script>

<script>
  $(function () {
              $(".favorite").click(function () {
                $.ajax({
                    url: "/addFavorite/",
                    data: { user_tips_id:'{{user_tips.id}}', favorite:1, csrfmiddlewaretoken:'{{csrf_token}}'},
                    dataType: "json",
                    cache: false,
                    success: function(data) {
                         $('.favorite').removeClass('fa-star-o').addClass('fa-star')
                        return false;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                    },
                    crossDomain: false,
                    type: "POST",
                })
                            
            
        });  
    $('#container3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Human Capital'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'People'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Employees',
            color:'#ea003f',
            data: [0, 2, 0, 0, 0, 1, 3, 0, 0, 5, 3, 2]

        }, {
            name: 'Former employees',
            color:'#193146',
            data: [0, 0, 0, 0, 0, 2, 1, 0, 0, 7, 0, 4]

        }]
    });
});
    
</script>



</body>

</html>