{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/laptop.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/masterslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/ms-laptop-style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/table.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery-1.11.0.min.js' %}" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="shortcut icon" href="{% static 'task/img/teamusico_rosa2.png' %}">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.min.js' %}" />
<script src="http://www.performance-heating.com/assets/plugins/masterslider/slider%20templates/masterslider/jquery.easing.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>




<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


<header class="header-home">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-left">
                <i class="fa fa-home"></i> 
                {% ifequal group 'Gerente'%}
                Gerencial Report
                {% else %}
                  {{tasks_todo.0.project.name}}
                {% endifequal %}
            </div>

<div class="navbar-header" style="padding-left: 31.5%;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;"> <img src="{% static 'task/img/teamusico_white2.png' %}" alt="" height="28px"></a>
                <a class="navbar-brand" href="#" style="    padding-top: 15px;
    padding-left: 6px;
    padding-bottom: 0px;">  <span>TeamUs</span> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                       {% ifequal group 'Empleado'%}
                        <li>
                            <!-- Button trigger modal 
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>-->
                            <a class="btn btn-new" id="btn_new" data-toggle="modal" data-target="#myModal"> New </a> 
                        </li>
                        {% endifequal %}
                        <li style="padding-top: 13px;">
                            &nbsp; {{user.first_name}} {{user.last_name}}
                        </li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user icono fa-lg"></i><b class="caret" style="    color: #f8f8f8;
    border-top-color: #f8f8f8;
    padding-left: 2px;"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>


                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>


<section class="row task" style=" margin-top:0px ">
    <div class="col-xs-1 col-sm-1 col-md-1 left-menu">
        <div class="row" style="    padding-top: 40px;">
                 {% ifequal group 'Empleado'%}
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu ">
                <a href="/home"><i class="fa fa-th-list"></i></a>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/profile"><i class="fa fa-user"></i></a></div>
        </div>   
               
           
        <div class="row">
         {%endifequal%}
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/idea"><i class="fa fa-lightbulb-o"></i></a></div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu active"><a href="/tips"><i class="fa fa-suitcase"></i></a></div>
        </div>
        
        {% ifequal group 'Gerente'%}
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/reports/"><i class="fa fa-line-chart"></i></a></div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/users/"><i class="fa fa-users"></i></a></div>
        </div>  
        {%endifequal%}
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href=""><i class="fa fa-cogs"></i></a></div>
        </div>        
                 
           

    </div>
    <div class="col-xs-11 col-sm-11 col-md-11" style="padding-left: 0px;">

        <div class="row">
            <div class="col-md-11" style="padding-left:80px">
            
                <h2>Favorite tips</h2>
                <hr>
                
                <table class="table table-striped">
                  <thead> <tr> <th>Tip</th> <th>Position</th> <th></th> </tr> </thead>
                  <tbody> 
                  {%for tip in user_tips%}
                  <tr> 
                  <td>{{tip.tips.name}}</td> 
                  <td>{{tip.tips.cargo.name}}</td> 
                  <td> <a class="btn btn-primary" href="{{tip.tips.url}}" style="padding: 5px;">Show</a> </td> 
                  </tr> 
                    {% endfor %}
                      
                  
                  </tbody>
                </table>

            </div>
        </div>
    </div>
    
</section>


<!------FOOTER------->
	<!-- footer starts here -->
	<footer class="footer text-center" style="background: #FCFCFC; border-top: 1px solid #D1D1D1;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="icons">
						<a href=""><i class="fa fa-instagram"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-twitter"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-facebook"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-linkedin"></i></a>
					</div>
					<p>TeamusSolutions &copy; 2016. ALL RIGHTS RESERVED.</p>
				</div>
			</div>
		</div>
	</footer>
<!--------END FOOTER---->