{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/laptop.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/masterslider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/ms-laptop-style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/css/table.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery-1.11.0.min.js' %}" />
       <link rel="shortcut icon" href="{% static 'task/img/teamusico_rosa2.png' %}">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.js' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'task/js/jquery.min.js' %}" />
    <script src="http://www.performance-heating.com/assets/plugins/masterslider/slider%20templates/masterslider/jquery.easing.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
 
 
  

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   
    
<link rel="stylesheet" type="text/css" href="{% static 'task/css/style.css' %}" />
   
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
   
   <script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
   
<script src="https://code.highcharts.com/modules/data.js"></script>
    
    
<header class="header-home">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-left">
                <i class="fa fa-home"></i> Gerencial Report
            </div>

<div class="navbar-header" style="padding-left: 31.5%;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 10px;"> <img src="{% static 'task/img/teamusico_white2.png' %}" alt="" height="28px"></a>
                <a class="navbar-brand" href="#" style="    padding-top: 15px;
    padding-left: 6px;
    padding-bottom: 0px;">  <span>TeamUs</span> </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li style="padding-top: 13px;">
                            {{user.first_name}} {{user.last_name}}
                        </li>
                        <li class="dropdown">
                            <a  class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user icono fa-lg"></i><b class="caret" style="    color: #f8f8f8;
    border-top-color: #f8f8f8;
    padding-left: 2px;"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/profile">Profile</a></li>
                                <li><a href="/logout">Logout</a></li>
                            </ul>
                        </li>
                    </ul>


                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


</header>






<section class="row" style=" margin-top:0px ">
    <div class="col-xs-1 col-sm-1 col-md-1 left-menu" style="height: 600px;">
           
           
        <div class="row" style="    padding-top: 40px;">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/idea"><i class="fa fa-lightbulb-o"></i></a></div>
        </div>        
           
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/tips"><i class="fa fa-suitcase"></i></a></div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href="/reports/"><i class="fa fa-line-chart"></i></a></div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu active"><a href="/users/"><i class="fa fa-users"></i></a></div>
        </div>  
        
        
        <div class="row">
           
           
            <div class="col-xs-12 col-sm-12 col-md-12 icon-menu"><a href=""><i class="fa fa-cogs"></i></a></div>
        </div>     
    </div>
    <div class="col-xs-11 col-sm-11 col-md-11" style="padding-left: 0px;">

        <div class="alert alert-info" role="alert" style="padding:5px; border-radius:0px">
           {% if user_tips.tips.name %}
            {{user_tips.tips.name}} &nbsp; <a href="{{user_tips.tips.url}}" class="btn btn-primary"  target="_blank" style="padding: 5px;"> Show</a>
            {% else %}
                Learn more about the products of TeamUsSolutions to help you boost your performance. &nbsp;  <a href="http://teamussolutions.com" class="btn btn-primary"  target="_blank" style="padding: 5px;"> Show</a>
            {% endif %}
            
            {% if user_tips.saved %}
            <i class="fa fa-star pull-right favorite" style="font-size:24px"></i>
            {% else %}
            <i class="fa fa-star-o pull-right favorite" style="font-size:24px"></i>
            {% endif%}
        </div>

    
            <div class="row" style="">
                <div class="col-xs-12 col-sm-12 col-md-12" >
                    <div class="container">
                <h2>Users</h2>
                <hr>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{profiles.0.user.first_name}} {{profiles.0.user.last_name}}
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3" style="padding-top:50px">
                <p>Salary: {{profiles.0.sueldo.amount}}</p>
                <p>Position: {{profiles.0.cargo.name}} </p>
                <p>Suggested position: {{estadistica_users.0}}</p>
                <p>Worked salary: {{sueldoPU1.1.amount}}</p>
                <p>Motivation: 60% </p>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4" >
                <div id="container3" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
             </div>            
               
               <div class="col-xs-4 col-sm-4 col-md-4" >
               <div id="container2" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
             </div>
            
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           {{profiles.1.user.first_name}} {{profiles.1.user.last_name}}
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
       <div class="panel-body">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3" style="padding-top:50px">
                <p>Salary: {{profiles.1.sueldo.amount}}</p>
                <p>Position: {{profiles.1.cargo.name}} </p>
                <p>Suggested position: {{estadistica_users.1}}</p>
                <p>Worked salary: {{sueldoPU2.0.amount}}</p>
                <p>Motivation: 90% </p>
            </div> 
            <div class="col-xs-4 col-sm-4 col-md-4" >
                <div id="container3_1" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
             </div>            
               
               <div class="col-xs-4 col-sm-4 col-md-4" >
               <div id="container2_1" style="min-width: 310px; height: 300px; margin: 0 auto"></div>
             </div>
        </div>
        </div>
    </div>
  </div>

</div>

            </div>
            </div>
            </div>
                          
                  
                  


</section>
 
  

  

<!------FOOTER------->
	<!-- footer starts here -->
	<footer class="footer text-center" style="background: #FCFCFC; border-top: 1px solid #D1D1D1;">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="icons">
						<a href=""><i class="fa fa-instagram"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-twitter"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-facebook"></i></a>
						&nbsp;
						<a href=""><i class="fa fa-linkedin"></i></a>
					</div>
					<p>TeamusSolutions &copy; 2016. ALL RIGHTS RESERVED.</p>
				</div>
			</div>
		</div>
	</footer>
<!--------END FOOTER---->

<div class="row comment">
<a id="example1" rel="popover" data-original-title="Sugerencia" data-placement="top"><i class="fa fa-comments"></i> </a>

<!--
<a data-container="body" data-toggle="popover" data-placement="top">
  <i class="fa fa-comments"></i> 
</a>#428bca-->
</div>



<script>
    
    $(function () {
    $('#container2').highcharts({
        title: {
            text: 'Productivity',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'millions'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'M$'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Productivity',
            color:'#ea003f',
            data: [{{productividadU1.0.amount}}, {{productividadU1.1.amount}}, {{productividadU1.2.amount}}, {{productividadU1.3.amount}}, {{productividadU1.4.amount}}, {{productividadU1.5.amount}}, {{productividadU1.6.amount}}, {{productividadU1.7.amount}}, {{productividadU1.8.amount}}, {{productividadU1.9.amount}}, {{productividadU1.10.amount}}, {{productividadU1.11.amount}}]
        }]
    });
});
    
</script>



<script>
  $(function () {
    $('#container3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Salary report'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Chilean pesos ($)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Salary',
            color:'#ea003f',
            data: [{{sueldos.0}}, {{sueldos.0}}, {{sueldos.0}}, {{sueldos.0}}, {{sueldos.0}}, {{sueldos.0}}, {{sueldos.0}}, {{sueldos.0}}, {{sueldos.0}}, {{sueldos.0}}, {{sueldos.0}}, {{sueldos.0}}]

        }, {
            name: 'Worked salary',
            color:'#193146',
            data: [{{sueldoPU1.0.amount}}, {{sueldoPU1.1.amount}}, {{sueldoPU1.2.amount}}, {{sueldoPU1.3.amount}}, {{sueldoPU1.4.amount}}, {{sueldoPU1.5.amount}}, {{sueldoPU1.6.amount}}, {{sueldoPU1.7.amount}}, {{sueldoPU1.8.amount}}, {{sueldoPU1.9.amount}}, {{sueldoPU1.10.amount}}, {{sueldoPU1.11.amount}}]

        }]
    });
});
    
</script>



<script>
    
    $(function () {
    $('#container2_1').highcharts({
        title: {
            text: 'Productivity',
            x: -20 //center
        },
        subtitle: {
            text: '',
            x: -20
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Millions'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }]
        },
        tooltip: {
            valueSuffix: 'M$'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Productivity',
            color:'#ea003f',
            data: [{{productividadU2.0.amount}}, {{productividadU2.1.amount}}, {{productividadU2.2.amount}}, {{productividadU2.3.amount}}, {{productividadU2.4.amount}}, {{productividadU2.5.amount}}, {{productividadU2.6.amount}}, {{productividadU2.7.amount}}, {{productividadU2.8.amount}}, {{productividadU2.9.amount}}, {{productividadU2.10.amount}}, {{productividadU2.11.amount}}]
        }]
    });
});
    
</script>



<script>
  $(function () {
              $(".favorite").click(function () {
                $.ajax({
                    url: "/addFavorite/",
                    data: { user_tips_id:'{{user_tips.id}}', favorite:1, csrfmiddlewaretoken:'{{csrf_token}}'},
                    dataType: "json",
                    cache: false,
                    success: function(data) {
                         $('.favorite').removeClass('fa-star-o').addClass('fa-star')
                        return false;
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        if (errorThrown!="")	alert(errorThrown+' : '+textStatus);
                    },
                    crossDomain: false,
                    type: "POST",
                })
                            
            
        });  
      
    $('#container3_1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Salary report'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'May',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Oct',
                'Nov',
                'Dec'
            ],
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Chilean pesos ($)'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Salary',
            color:'#ea003f',
            data: [{{sueldos.1}}, {{sueldos.1}}, {{sueldos.1}}, {{sueldos.1}}, {{sueldos.1}}, {{sueldos.1}}, {{sueldos.1}}, {{sueldos.1}}, {{sueldos.1}}, {{sueldos.1}}, {{sueldos.1}}, {{sueldos.1}}]

        }, {
            name: 'Worked salary',
            color:'#193146',
            data: [{{sueldoPU2.0.amount}}, {{sueldoPU2.1.amount}}, {{sueldoPU2.2.amount}}, {{sueldoPU2.3.amount}}, {{sueldoPU2.4.amount}}, {{sueldoPU2.5.amount}}, {{sueldoPU2.6.amount}}, {{sueldoPU2.7.amount}}, {{sueldoPU2.8.amount}}, {{sueldoPU2.9.amount}}, {{sueldoPU2.10.amount}}, {{sueldoPU2.11.amount}}]

        }]
    });
});
    
</script>



</body>

</html>