.ms-laptop-template .ms-laptop-cont .ms-view{
	background-color: #17171a;
}
.ms-laptop-template .ms-laptop-cont{
   max-width: 645px;
	position: relative;
	margin: 0 auto;
}
.ms-laptop-template .ms-lt-slider-cont {
    position: relative;
    padding: 5% 11.9% 20%;
    max-width: 692px;
}
.ms-laptop-template .ms-laptop-bg {
    max-width: 100%;
    position: absolute;
}

.ms-laptop-template .ms-nav-prev,
.ms-laptop-template .ms-nav-next {
    background: url(skin.png) no-repeat -11px -9px;
    width: 35px;
    height: 40px;
    left: -80px;
    margin-top: -17px;
    position: absolute;
    top:50%;
    cursor: pointer;
}
.ms-laptop-template .ms-nav-next {
	background-position: -59px -9px;
	right: -80px;
	left:auto;
}

.ms-laptop-template .ms-bullets.ms-dir-h {
	position: absolute;
	bottom: -40%;
	right: 50%;
	width: 100px;
}

.ms-laptop-template .ms-bullets.ms-dir-h .ms-bullets-count {
	position: relative;
	right: -50%;
}

.ms-laptop-template .ms-bullet {
	width: 10px;
	height: 10px;
	background: url(skin.png) no-repeat -112px -25px;
	margin: 4px;
}

.ms-laptop-template .ms-bullet-selected {
    background-position: -143px -25px;
}
