@base-color: #ea003f;
@second-color: #f0f;
@third-color: #B13FA1;
@header-color: #f8f8f8;
@color-font-primary-base: #f8f8f8;
@color-font-second-base: #030C1B;
@strong-font: #030C1B;
@gray-one: #D1D1D1;
@gray-two: #5D6064;
@gray-three: #FCFCFC;
@gray-four: #E3E3E3;
@btn-new: #cc0037;
@base-hover: #e52b5d;
@base-hover-two: #af2248;

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ General style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

body {
    line-height: 1.715;
    font-family: "Montserrat", sans-serif;
}

.features h2,
.pricing h2,
.contact h2 {
    color: @strong-font;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 30px;
    /*font-family: "Montserrat", sans-serif;*/
    font-size: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
}

.features h2:after,
.pricing h2:after,
.contact h2:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    height: 2px;
    width: 120px;
    background-color: @third-color;
    left: 50%;
    margin-left: -60px;
}

.navbar-default .navbar-nav > li > a {
    color: @color-font-primary-base
}


/*just to get the page to scroll*/

.content {
    /*height: 650px;
    border: 1px solid #f0f; */
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px
}

.center {
    top: 25%;
    position: absolute;
}

#anchor0 {
    background-image: url(../img/home-office-336373_1920.jpg);
    background-size: cover;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of General style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.navbar-default {
    border-color: rgba(168, 168, 168, 0.5)
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: @third-color
}

.navbar-default .navbar-nav > li > a:hover {
    color: @third-color;
}

.scroll-header {
    background-color: rgba(0, 0, 0, 0.4);
    color: @color-font-primary-base;
    padding: 14px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.scroll-header.shrink {
    padding: 3px;
    background: @header-color;
}

.scroll-header.shrink a {
    color: @color-font-second-base !important
}

.scroll-header h1 {
    /*font-size:30px;*/
    font-weight: normal;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    color: @color-font-second-base;
    padding: 0px;
    margin: 0px
}

.scroll-header.shrink h1 {
    font-size: 24px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    transition: all 0.6s;
    padding: 0px;
    margin: 0px
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Header style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ btn style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.btn {
    text-decoration: none;
    padding: 14px 24px;
    color: @color-font-primary-base;
    border-radius: 0px
}

.btn-action {
    border: 1px solid @third-color
}

.btn-action:hover {
    background-color: @third-color !important;
    border: 1px solid @third-color;
    color: @color-font-primary-base !important;
}

.btn-action-invert {
    border: 1px solid @third-color;
    background-color: @third-color !important;
    color: @color-font-primary-base !important;
}

.btn-action-invert:hover {
    border: 1px solid #CA93BA;
    background-color: #CA93BA!important;
    color: @third-color;
}

.btn-new {
    border: 1px solid @gray-three;
    background: @btn-new;
    padding: 5px !important;
    margin-top: 10px;
}

.btn-new:hover {
    background-color: @base-hover !important;
    border: 1px solid @gray-three;
    color: @color-font-primary-base !important;
}

.btn-primary {
    background-color: @base-color;
    border: 1px solid @base-color;
}

.btn-primary:hover {
    background-color: @base-hover ;
    border: 1px solid @base-color;
}

.btn-default {
    background-color: @gray-one;
    border: 1px solid @gray-one;
}

.btn-default:hover {
    background-color: @gray-four ;
    border: 1px solid @gray-one;
}

.alert .btn {
    padding: 5px
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Banner style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Banner style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.banner {
    color: @color-font-primary-base;
}

.banner h2 {
    font-size: 48px;
    text-align: right;
}

.banner h3 {
    font-size: 20px;
    text-align: right;
}

.banner .banner-box {
    top: 15%;
    position: absolute;
    padding: 50px
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Banner style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Laptop style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.laptop-content {
    padding: 0px;
    margin: 0px;
    width: 492px;
    height: 360px;
}

.active {
    position: relative;
}

.syntaxhighlighter {
    margin-bottom: 0px !important;
}

.syntaxhighlighter.html {
    max-height: 400px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Laptop style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Features style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.features .features-circle {
    border: 1px solid @third-color;
    font-size: 30px;
    padding: 15px;
    color: @third-color;
}

.features h3 {
    font-size: 24px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Features style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Pricing style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.pricing-table {
    list-style: none;
    padding: 0;
    margin: 60px 0 0;
}

.pricing-package {
    position: relative;
    margin: 40px 0 0;
    background-color: #f6f6f6;
    text-align: center;
}

.pricing-package-header {
    border-bottom-color: @third-color;
}

.pricing-package-header {
    background-color: @strong-font;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.price-title {
    margin: 0;
    padding: 17px 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(255, 255, 255, 0.1);
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}

.price {
    padding: 27px 30px 17px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    line-height: 0.7;
    letter-spacing: 0.05em;
}

.price-currency {
    vertical-align: bottom;
    font-size: 30px;
}

.price-number {
    vertical-align: bottom;
    font-size: 80px;
}

.price-decimal {
    vertical-align: top;
    font-size: 30px;
}

.pricing-package.pricing-package-featured {
    margin-top: 0;
}

.pricing-package.pricing-package-featured .pricing-package-header {
    border-bottom-width: 45px;
}

.pricing-package-items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pricing-package-items li:first-child {
    border-top: none;
}

.pricing-package-items li {
    padding: 10px 30px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.05);
}

.price-description {
    padding: 0 30px 26px;
    font-style: italic;
    color: #888;
}

.price-featured {
    position: absolute;
    width: 100%;
    padding: 10px 30px 11px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Pricing style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Contact style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.contact {
    color: @color-font-primary-base
}

.contact h2 {
    color: @color-font-primary-base
}

.contact .content {
    background: @strong-font
}

.middle-optin input[type="text"],
.middle-optin textarea {
    color: #333;
    border: none;
    outline: none;
    width: 100%;
    padding: 14px 20px;
    display: block;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    border-radius: 0;
    height: auto;
    background: #F8F8F8;
}

.form-content {
    padding-top: 50px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Pricing style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Footer style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.footer-section {
    text-align: center;
}

.section {
    background-color: #fff;
    color: inherit;
    position: relative;
    overflow: hidden;
}

.footer-logo {
    margin-top: 0;
    margin-bottom: 60px;
}

.footer-socmed {
    font-size: 20px;
    line-height: 1;
    margin-bottom: 15px;
}

.footer-socmed > a {
    display: inline-block;
    margin: 0 10px;
    color: inherit;
    opacity: 0.5;
}

.footer-copyright {
    opacity: 0.5;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Pricing style ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Left menu home ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.left-menu {
    background: @gray-three;
    border-right: 1px solid @gray-one;
    .icon-menu {
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        text-align: center;
        i {
            font-size: 24px;
            color: @gray-two
        }
    }
}

.left-menu .icon-menu:hover {
    border-right: 2px solid @base-color;
    cursor: pointer;
    i {
        color: @base-color
    }
}

.active {
    border-right: 2px solid @base-color;
    cursor: pointer;
    i {
        color: @base-color !important
    }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Left menu home ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Task view ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.task {
    background: @color-font-primary-base;
}

.task .box-task {
    background: @gray-three;
    margin: 5px;
    width: 32%;
    //padding: 20px
}

.task h3 {
    color: @gray-two
}

.content-box-task {
    margin-left: 10px;
    margin-top: 10px
}

.task .personal-task {
    border: 1px solid @gray-one;
    background: @gray-four;
    padding: 5px
}

.task .footer-task {
    color: @color-font-primary-base
}

.personal-task .btn-action-task {
    font-size: 22px;
    background: transparent;
    cursor: pointer
}

.personal-task .fa-pause {
    color: rgb(234, 225, 0);
}

.personal-task .fa-stop {
    color: rgb(193, 0, 0);
}

.personal-task .fa-play,
.personal-task .fa-check {
    color: #6edd00;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of task view ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Header Home ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.header-home .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    background: @base-color;
    color: @color-font-primary-base
}

.header-home {
    .navbar-nav > li > a:hover {
        color: @base-hover-two
    }
}

.header-home .navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 0px;
    background: @base-color;
    color: @color-font-primary-base
}

.header-home .navbar .navbar-brand {
    color: @color-font-primary-base
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of Header Home ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Comment (suggest/idea) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.comment {
    position: fixed;
    left: 95%;
    bottom: 0px;
    width: 100%;
}

.comment i {
    font-size: 40px;
    position: relative;
    color: #6edd00;
}

.center {
    margin: 100px auto;
    width: 30px;
}

.opinion {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid @gray-one;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    a {
        color: @gray-two
    }
}

.opinion-active {
    background: @base-color;
    cursor: pointer;
    a {
        color: @color-font-primary-base;
        text-decoration: none
    }
}


/* The element to hover over Borrar y cambiar porque se mantenga*/

.qs {
    cursor: default;
    display: inline-block;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    position: relative;
    .popover {
        top: -250px;
        left: -220px;
        height: 250px;
        background-color: rgba(0, 0, 0, 0.85);
        bottom: 42px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        color: #fff;
        //display: none;
        font-size: 12px;
        padding: 7px 10px;
        &:before {
            border-top: 7px solid rgba(0, 0, 0, 0.85);
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            bottom: -7px;
            content: '';
            display: block;
            left: 89%;
            margin-left: -7px;
            position: absolute;
        }
    }
    &:hover {
        .popover {
            display: block;
            -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
            -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
            -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
        }
    }
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ end of comment (suggest/idea) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/